server:
  port: 8401

spring:
  application:
    name: cloudalibaba-sentinel-service
  cloud:
    nacos:
      discovery:
        #Nacos服务注册中心地址
        server-addr: 47.100.93.224:8848
    sentinel:
      transport:
        #配置Sentinel dashboard地址
        dashboard: localhost:8080
        #默认8719端口，假如被占用会自动从8719开始依次+1扫描,直至找到未被占用的端口
        port: 8719
      datasource:
        ds1:
          nacos:
            server-addr: 47.100.93.224:8848
            dataId: ${spring.application.name}
            groupId: DEFAULT_GROUP
            data-type: json
            rule-type: flow
      web-context-unify: false # 关闭context整合（链路流控时需要添加，不过好像没啥用）

management:
  endpoints:
    web:
      exposure:
        include: '*'



#  Nacos 中 Sentinel 的持久化配置规则（在 sentinel 中更改后，规则无法保存最新值。。。）
#  resource：资源名称；
#  limitApp：来源应用；
#  grade：阈值类型，0表示线程数，1表示QPS；
#  count：单机阈值；
#  strategy：流控模式，0表示直接，1表示关联，2表示链路；
#  controlBehavior：流控效果，0表示快速失败，1表示Warm Up，2表示排队等待；
#  clusterMode：是否集群